.slides {
    background-color: white;
}

.slides section {
    width: 680px;
    height: 912px;
    position: relative;
}

.slides section .gallery {
    display: block;
    width: 100%;
}

.slides section img {
    border: none;
    box-shadow: none;
    max-width: 100%;
    max-height: 80%;
}

.slides section p {
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 16px;
}

.slides section p.footer {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    position: absolute;
    bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

.slides section .story {
    max-width: 100%;
    text-align: center;
    padding: 0 30px;
}

.slides section .story>p {
    max-width: 70%;
    margin: 20px auto;
}

.slides section p.footer .created_at {
    text-align: center;
}

.slides section p.footer .location {
    display: none;
}

.slides section .left-page {
    padding-right: 30px;
}

.slides section .right-page {
    padding-left: 30px;
}

.slides section .single-vertical img {
    display: block;
    width: 480px;
    height: 640px;
}

.slides section .single-vertical p {
    display: block;
    width: 480px;
    height: calc(912px - 640px);
    padding-top: 20px;
    text-align: left;
}

.slides section .single-horizontal img {
    padding-right: 0;
}

.slides section .single-horizontal p {
    width: 32%;
    margin: 0 auto;
    padding-top: 50px;
}